<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="assets/favicon.ico" />
    <base href="<%= APP_BASE %>">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= APP_TITLE %>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- inject:css -->
    <!-- endinject -->

    <% if (TARGET_DESKTOP) { %>
    <!-- shims:js -->
    <!-- endinject -->
    <% } %>
</head>

<body>

    <xe-app>Loading...</xe-app>

    <script>
        // Fixes undefined module function in SystemJS bundle
        function module() {}
    </script>

    <% if (!TARGET_DESKTOP) { %>
    <!-- shims:js -->
    <!-- endinject -->
    <% } %>

    <% if (BUILD_TYPE === 'dev') { %>
        <script src="<%= APP_BASE %>system-config.js"></script>
    <% } %>

    <!-- libs:js -->
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->

    <% if (BUILD_TYPE === 'dev') { %>
        <script>
            System.import('<%= BOOTSTRAP_MODULE %>')
                .catch(function(e) {
                    console.error('System import error', e);
                });
        </script>
    <% } %>

    <% if (TARGET_DESKTOP && BUILD_TYPE !== 'prod') { %>
        <script>
            require('electron-connect').client.create()
        </script>
    <% } %>

</body>

</html>
