@import "colors";
@import "variables";

.main-nav {
    @include flex(0 0 170px);
    box-shadow: 0 rpx(-1) 0 $grey-300 inset;

    .logo {
        width: baselinerem(1.5);
        height: baselinerem(1.5);
        border-radius: 3px;
        position: absolute;
        left: baselinerem(1.5);
        top: baselinerem(.5);
        display: block;

        img {
            width: 32px;
            height: 32px;
            margin: 2px 0;
            vertical-align: top;
        }
    }

    .parallax {
        @include gradient-background();
        height: 170px;
        margin: 0;
        padding: 36px;
        text-align: center;
        color: $white-base;

        h1 {
            margin: 0;
            line-height: 60px;
            vertical-align: middle;
            color: $white-base;

            .trademark {
                line-height: 2;
            }
        }
    }
}
