<div class="main-container">
    <div class="main-nav">
        <a [routerLink]="['/']" preserveQueryParams="true" class="logo">
            <img src="../assets/images/xenon-logo-white.svg"/>
        </a>
        <section class="parallax">
            <h1>VMware XENON<span class="trademark">&#8482;</span></h1>
            <p>Decentralized Control Plane Framework</p>
        </section>
    </div>
    <xe-about-sub-nav class="sub-nav"></xe-about-sub-nav>
    <div class="content-container">
        <router-outlet></router-outlet>
    </div>
</div>
