<div class="component-container banner-top-padding">
    <main class="content-area">
        <h2>Getting Started with XENON</h2>
        <section>
            <h3>Glossary of Terms</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Keyword</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Micro Service</td>
                        <td>
                            <ul>
                                <li>A means of delivering value to customers by facilitating
                                    outcomes customers want to achieve without the ownership
                                    of specific costs and risks.</li>
                                <li>A collection of components, together with the policies
                                    that control its usage, organized to accomplish a specific
                                    function or set of functions.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Xenon Service</td>
                        <td>
                            A single software component, with a HTTP URI and a document
                            describing it state. A service can use other services to offer
                            simplified or advanced functionality. This is the building
                            block of decentralized control plane nodes.
                        </td>
                    </tr>
                    <tr>
                        <td>Xenon Service Instance</td>
                        <td>
                            A Xenon Service is defined a by a class (in Java, or a set of methods in Go)
                            <ul>
                                <li>Each Service class may be instantiated one or more times.</li>
                                <li>Each instance is identified and located via a unique path.</li>
                            </ul>
                            /core/examples/one /core/examples/two

                            The above URI paths refer to two instances of the <strong>example</strong> service.
                        </td>
                    </tr>
                    <tr>
                        <td>Xenon Service Instance Replica</td>
                        <td>Each instance is deployed over a group of Service Hosts
                            (equivalently referred to as 'nodes'). One Service Host may end up hosting zero,
                            or one replicas of the same Service Instance. At any time, a replica may be
                            designated by the runtime as "owner".</td>
                    </tr>
                    <tr>
                        <td>Document</td>
                        <td>A plain data object, a collection of properties that
                            represent the state of a micro-service. A document can describe a
                            long running task, or a document describing the health and operational
                            status of an entire data center. Many services can use the same document type,
                            but independent instances. Documents can be aggregated through queries.</td>
                    </tr>
                    <tr>
                        <td>Node (Management Node)</td>
                        <td>An instance of a service host process. A service host is a
                            Java or Go process that hosts micro service instances. Its uniquely
                            identified by a stable id and can be reached on a IP address plus TCP port.
                            A single virtual or physical machine can have multiple nodes (multiple service host processes).
                            We refer to nodes and service host interchangeably.</td>
                    </tr>
                    <tr>
                        <td>Owner</td>
                        <td>For a specific Service Instance, one of the replicas may be designated as owner.
                            The precise guarantees regarding owner consistency and operations associated with it
                            are described in the replication and leader election page</td>
                    </tr>
                    <tr>
                        <td>Runtime</td>
                        <td>The Xenon framework code, instantiated as a ServiceHost.
                            The framework manages requests to services, service lifecycle, concurrency, statistics, etc.</td>
                    </tr>
                    <tr>
                        <td>Membership</td>
                        <td>A dynamic state capturing the collection of nodes at some moment in time.
                            Implemented by the node group service</td>
                    </tr>
                    <tr>
                        <td>Membership View (or simply membership)</td>
                        <td>A local value, held by a node, representing its knowledge of the membership</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <nav class="sidenav">
        <section class="sidenav-content">
            <section class="nav-group collapsible">
                <input id="gettingStartedSection" type="checkbox">
                <label for="gettingStartedSection">Getting Started</label>
                <ul class="nav-list">
                    <li><a class="nav-link">Glossary</a></li>
                    <li><a class="nav-link">Architecture</a></li>
                </ul>
            </section>
            <section class="nav-group collapsible">
                <input id="pluginFrameworkSection" type="checkbox">
                <label for="pluginFrameworkSection">Plugin Framework</label>
                <ul class="nav-list">
                    <li><a class="nav-link">Data Types</a></li>
                    <li><a class="nav-link">Rack Service</a></li>
                </ul>
            </section>
            <section class="nav-group collapsible">
                <input id="advancedTopicSection" type="checkbox">
                <label for="advancedTopicSection">Advanced Topics</label>
                <ul class="nav-list">
                    <li><a class="nav-link"></a></li>
                </ul>
            </section>
        </section>
    </nav>
</div>
