<div ng-controller="FactoryHomeController as ctrl">
    <h1 class="page-header">Service: {{service}}</h1>

    <div class="row">
        <div class="col-xs-4">
            <div class="text-center block-box">
                <a href="#/{{service}}/query"><i class="glyphicon glyphicon-search"></i></a>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="text-center block-box">
                <a href="#/{{service}}/stats"><i class="glyphicon glyphicon-stats"></i></a>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="text-center block-box">
                <a href="#/{{service}}/manage"><i class="glyphicon glyphicon-cog"></i></a>
            </div>
        </div>
    </div>

    <h2 class="section-header">Services</h2>

    <div ng-if="ctrl.documents.length > 0">
        <paginator model="ctrl.documents" items-per-page="10" properties="{'baseUrl':baseUrl, 'uiBase':uiBase}">
            <table class="table table-striped">
                <tr ng-repeat="result in pageData">
                    <td><a
                            ng-href="{{properties.baseUrl + properties.uiBase + pageData[$index]}}/instanceHome">{{pageData[$index]}}</a>
                    </td>
                </tr>
            </table>
        </paginator>
    </div>

    <div ng-if="ctrl.documents.length == 0">
        <div class="zeroData">
            <span class="glyphicon glyphicon-info-sign"></span> No services exist.
        </div>
    </div>
</div>
