<div ng-controller="FactoryHomeController as ctrl">
    <h1 class="page-header">Service: {{service}}</h1>

    <div class="row">
        <div class="col-xs-4">
            <div class="text-center block-box">
                <a href="#/{{service}}/query"><i class="glyphicon glyphicon-search"></i></a>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="text-center block-box">
                <a href="#/{{service}}/stats"><i class="glyphicon glyphicon-stats"></i></a>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="text-center block-box">
                <a href="#/{{service}}/manage"><i class="glyphicon glyphicon-cog"></i></a>
            </div>
        </div>
    </div>

    <h2 class="section-header">Services</h2>

    <div ng-if="ctrl.documents.length > 0">
        <table class="table table-striped">
            <tr ng-repeat="result in ctrl.documents">
                <td><a
                        ng-href="{{baseUrl + uiBase + ctrl.documents[$index]}}/instanceHome">{{ctrl.documents[$index]}}</a>
                </td>
            </tr>
        </table>
    </div>
    <div ng-if="ctrl.documents.length == 0">
        <div class="zeroData">
            <span class="glyphicon glyphicon-info-sign"></span> No services exist.
        </div>
    </div>
</div>
