# OS X FS metadata
.DS_Store
# vim backups of files that are open at time of commit
*.swp
.settings/*
/bin
target
.classpath
.project
.idea
.settings
*.iml
*/tmp
tmp/
*.git.properties
*.espressostorage

# maven-release-plugin artifacts
/release.properties
pom.xml.releaseBackup

# go artifacts
xenon-client/src/main/resources/*
xenon-client/src/main/go/_vendor/src/*
xenon-common/src/main/go/_vendor/src/*

# vagrant
vagrant/
.vagrant/