<div class="info-panel">
    <h4>
        {{ 'QUERY_HELPER_TITLE' | translate }}
    </h4>
    <a class="collapse-title" data-toggle="collapse"
        href="#queryOptionsSection" aria-expanded="false" aria-controls="queryOptionsSection">
        {{ 'QUERY_HELPER_QUERY_OPTIONS_TITLE' | translate }}
    </a>
    <section id="queryOptionsSection" class="collapse" aria-expanded="false">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                CONTINUOUS
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {{ 'QUERY_HELPER_CONTINUOUS_OPTION' | translate }}
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                COUNT
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {{ 'QUERY_HELPER_COUNT_OPTION' | translate }}
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                DO_NOT_REFRESH
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {{ 'QUERY_HELPER_DO_NOT_REFRESH_OPTION' | translate }}
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                EXPAND_CONTENT
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {{ 'QUERY_HELPER_EXPAND_CONTENT_OPTION' | translate }}
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                INCLUDE_ALL_VERSIONS
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {{ 'QUERY_HELPER_INCLUDE_ALL_VERSIONS_OPTION' | translate }}
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                INCLUDE_DELETED
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {{ 'QUERY_HELPER_INCLUDE_DELETED_OPTION' | translate }}
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                SORT
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {{ 'QUERY_HELPER_SORT_OPTION' | translate }}
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                BROADCAST
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {{ 'QUERY_HELPER_BROADCAST_OPTION' | translate }}
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                OWNER_SELECTION
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {{ 'QUERY_HELPER_OWNER_SELECTION_OPTION' | translate }}
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                SELECT_LINKS
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {{ 'QUERY_HELPER_SELECT_LINKS_OPTION' | translate }}
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                GROUP_BY
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {{ 'QUERY_HELPER_GROUP_BY_OPTION' | translate }}
                </p>
            </div>
        </div>
    </section>
    <a class="collapse-title" data-toggle="collapse"
        href="#occuranceOptionsSection" aria-expanded="false" aria-controls="occuranceOptionsSection">
        {{'QUERY_HELPER_OCCURANCE_OPTIONS_TITLE' | translate}}
    </a>
    <section id="occuranceOptionsSection" class="collapse" aria-expanded="false">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                MUST_OCCUR
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {{ 'QUERY_HELPER_MUST_OCCUR_OPTION' | translate }}
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                MUST_NOT_OCCUR
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {{ 'QUERY_HELPER_MUST_NOT_OCCUR_OPTION' | translate }}
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                SHOULD_OCCUR
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {{ 'QUERY_HELPER_SHOULD_OCCUR_OPTION' | translate }}
                </p>
            </div>
        </div>
    </section>
    <a class="collapse-title" data-toggle="collapse"
        href="#termMatchOptionsSection" aria-expanded="false" aria-controls="termMatchOptionsSection">
        {{'QUERY_HELPER_TERM_MATCH_OPTIONS_TITLE' | translate}}
    </a>
    <section id="termMatchOptionsSection" class="collapse" aria-expanded="false">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                TERM
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {{ 'QUERY_HELPER_TERM_OPTION' | translate }}
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                PHRASE
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {{ 'QUERY_HELPER_PHRASE_OPTION' | translate }}
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                PREFIX
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {{ 'QUERY_HELPER_PREFIX_OPTION' | translate }}
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                WILDCARD
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {{ 'QUERY_HELPER_WILDCARD_OPTION' | translate }}
                </p>
            </div>
        </div>
    </section>
</div>
