<div class="component-container vertical">
    <nav class="nav-area">
        <h4 class="title">{{ 'QUERY_TITLE' | translate }}</h4>
        <aside>
            <button class="btn btn-sm btn-link"
                [class.active]="queryBuilderMode === 'interactive'"
                (click)="onQueryBuilderModeChanged($event, 'interactive')">
                {{ 'QUERY_MODE_INTERACTIVE_TITLE' | translate }}
            </button>
            <button class="btn btn-sm btn-link"
                [class.active]="queryBuilderMode === 'advanced'"
                (click)="onQueryBuilderModeChanged($event, 'advanced')">
                {{ 'QUERY_MODE_ADVANCED_TITLE' | translate }}
            </button>
        </aside>
    </nav>
    <main class="content-area">
        <section class="query-builder">
            <form class="form-inline">
                <div class="form-group">
                    <label for="versionsOption">{{ 'ACTION_QUERY' | translate }}</label>&nbsp;
                    <select class="form-control form-control-sm" id="queryVersionsOption">
                        <option value="">{{ 'QUERY_BUILDER_OPTION_LATEST_VERSIONS' | translate }}</option>
                        <option value="INCLUDE_ALL_VERSIONS">{{ 'QUERY_BUILDER_OPTION_ALL_VERSIONS' | translate }}</option>
                    </select>&nbsp;
                    <label for="deletedDocumentInclusionOption">{{ 'QUERY_BUILDER_TITLE_OF_DOCUMENTS' | translate }}</label>&nbsp;
                    <select class="form-control form-control-sm" id="deletedDocumentInclusionOption">
                        <option value="">{{ 'QUERY_BUILDER_OPTION_EXCLUDE_DELETED' | translate }}</option>
                        <option value="INCLUDE_DELETED">{{ 'QUERY_BUILDER_OPTION_INCLUDE_DELETED' | translate }}</option>
                    </select>&nbsp;
                    <label for="continousQueryOption">{{ 'QUERY_BUILDER_TITLE_DELETE_ONES' | translate }}</label>&nbsp;
                    <select class="form-control form-control-sm" id="continousQueryOption">
                        <option value="CONTINUOUS">{{ 'QUERY_BUILDER_OPTION_CONTINOUS' | translate }}</option>
                        <option value="DO_NOT_REFRESH">{{ 'QUERY_BUILDER_OPTION_WITHOUT_REFRESH' | translate }}</option>
                    </select>
                </div>
                <hr class="content-divider">
                <div class="query-clause-container">
                    <div class="connector"></div>
                    <xe-query-clause *ngFor="let clause of clauses"
                        [id]="clause.id" [isFirst]="clause.id === 1"
                        (deleteClause)="onDeleteClause($event)"></xe-query-clause>
                    <button class="btn btn-link btn-add-clause"
                        (click)="onAddClause($event)"></button>
                </div>
            </form>
        </section>
    </main>
</div>
