@import "colors";
@import "variables";

.component-container {
    .nav-area {
        aside {
            .btn.btn-link {
                color: $light-blue-400;

                &:hover, &:active, &.active {
                    color: $light-blue-600;
                    background: $light-blue-100;
                    border-color: $light-blue-100;
                }
            }
        }
    }

    .content-area {
        padding: 0;

        .query-builder {
            .query-spec-container {
                @include flexbox();
                flex-flow: row nowrap;
                height: 346px;
                margin-bottom: 0;

                .form-control-code-editor {
                    @include flex(1 1 auto);
                    overflow: hidden;

                    // Style that applies to all the children components
                    /deep/ .CodeMirror {
                        height: 100%;
                    }
                }

                .reference-panel {
                    @include flex(0 0 45%);
                    margin-left: baselinerem(1);
                    overflow-y: scroll;
                }
            }
        }

        .content-area.component-container {
            padding: 0;
            min-height: baselinerem(18);
            @include flex(1 1 auto);

            .area, [class*="-area"] {
                background: transparent;
                @include flexbox();
            }

            .left-side-area {
                min-width: baselinerem(12);
                width: 35%;
                overflow-y: scroll;

                .list-group-item {
                    border: none;
                    padding-left: baselinerem(1.5);
                    cursor: pointer;

                    &:hover {
                        box-shadow: rpx(4) 0 0 $light-blue-300 inset;
                    }

                    &:focus, &:active, &.active {
                        box-shadow: rpx(4) 0 0 $light-blue-400 inset;
                    }
                }
            }

            .content-area {
                padding: 0;

                > .query-result-detail-container {
                    @include flexbox();
                    @include flex(1 1 auto);
                }
            }
        }
    }
}
