@import "colors";
@import "variables";

.query-clause {
    @include flexbox();
    flex-flow: row nowrap;
    margin-bottom: baselinerem(.75);
    position: relative;

    > .connector {
        position: absolute;
        z-index: 1;
        left: 65px;
        top: 14px;
        height: 0;
        border-bottom: 1px dashed $grey-300;
        right: baselinerem(1.5);
    }

    &.first-clause {
        padding-left: baselinerem(7);

        /deep/ .control-group {
            padding-right: 30px;
        }
    }

    /deep/ .static-control {
        height: rem(1.8125);
        background-color: $grey-300;
        border: 1px solid $grey-300;
        color: $grey-600;
        padding: rem(.3125) rem(.5);
        font-size: rem(.875);
        border-radius: rem(.2);
    }

    .occurance-group {
        @include flex(0 0 baselinerem(7));
        z-index: 2;

        .static-control {
            width: 130px;
            text-align: center;
        }

        .btn {
            height: rem(1.8125);
            line-height: 19px;
            vertical-align: middle;
            margin-bottom: 0;
        }
    }

    /deep/ .term-group {
        @include flex(1 1 auto);
        z-index: 2;

        .form-control {
            margin-right: baselinerem(.5);
        }

        .form-control-group {
            margin-right: baselinerem(.5);
            display: inline-table;

            .form-control {
                margin-right: 0;
                display: table-cell;
            }

            .form-control:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            // Hacks to fake a border for select, in order to fix select radius
            // dictated by the border appearence.
            .form-control-select-wrapper {
                display: table-cell;
                background: $grey-100;
                border-radius: 0 rem(.2) rem(.2) 0;
                box-shadow: rpx(-1) rpx(-1) 0 rgba(0, 0, 0, .15) inset, 0 rpx(1) 0 rgba(0, 0, 0, .15) inset;

                &:focus, &:active {
                    box-shadow: rpx(-1) rpx(-1) 0 $light-blue-300 inset, 0 rpx(1) 0 $light-blue-300 inset;
                }

                select {
                    border: none;
                    background: transparent;
                }
            }
        }
    }

    .control-group {
        @include flex(0 0 baselinerem(6));
        text-align: right;
        z-index: 2;
    }
}
