@import "colors";
@import "variables";

.background-logo {
    position: absolute;
    top: -290px;
    left: -200px;
    width: 560px;
    opacity: .15;
}

.login {
    @include flex(0 0 baselinerem(19));

    .login-group {
        height: 220px;
    }

    .loading-group {
        height: 220px;
        margin-right: baselinerem(3);
        padding: baselinerem(3) 0;
        text-align: center;
    }

    .btn {
        margin: baselinerem(.5) baselinerem(3) 0 0;
    }
}

.star-canvas {
    @include flexbox();
    @include flex(1 1 auto);
    background: transparentize($light-blue-50, .3);
}
