@import "../colors";
@import "../variables";

.trademark {
    font-size: 60%;
    font-weight: 200;
    vertical-align: top;
    line-height: 1;
}

.separator {
    font-size: 100%;
    padding: 0 baselinerem(.5);
}

/* Tag */
.tags-container {
    padding: rem(.5) rem(1.25);

    .tag {
        display: inline-block;
        padding: baselinerem(.25) baselinerem(.5);
        margin: baselinerem(.25) baselinerem(.5) baselinerem(.25) 0;
        font-size: 10px;
        color: $light-blue-900;
        background: transparentize($light-blue-400, .9);
        border: 1px solid $light-blue-400;
        border-radius: baselinerem(.5);
        font-weight: normal;

        &.tag-green {
            color: $light-green-900;
            background: transparentize($light-green-400, .9);
            border: 1px solid $light-green-400;
        }
    }
}

/* Empty Message */
.empty-message-container {
    padding: baselinerem(1);
    width: 100%;
    @include flexbox();
    @include flex(1 1 auto);
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .title {
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        color: $grey-400;
    }

    .message {
        margin: 0;
        padding: 0;
        text-align: center;
        color: $grey-400;
    }
}

/* Close button */
.close {
    font-weight: normal;
    opacity: .7;
    color: $grey-700;
    @include transition(opacity);

    &:hover, &:active {
        opacity: 1;
    }
}

.modal .close {
    margin-top: 0;
}
