<div ng-controller="ManageInstanceController as ctrl">
    <h1 class="page-header">Delete Service</h1>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="permDelete" class="col-sm-2 control-label">
                Delete permanently?</label>

            <div class="col-sm-1">
                <input type="checkbox" class="form-control" id="permDelete"
                       ng-model="ctrl.permDelete">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-click="ctrl.deleteDocument()" class="btn btn-default">Delete</button>
            </div>
        </div>
    </form>
</div>