<div ng-controller="ManageServiceController as ctrl">
    <h1 class="page-header">Create new instance</h1>

    <form class="form-horizontal">
        <json-tree json="ctrl.newDocument" collapsed-level="100" edit-level="low"></json-tree>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-click="ctrl.createDocument()" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>

    <h2 class="section-header">Service Instances</h2>

    <div ng-if="ctrl.documents.length > 0">
        <table class="table table-striped">
            <tr ng-repeat="result in ctrl.documents">
                <td><a ng-href="{{baseUrl + uiBase + ctrl.documents[$index]}}/instanceHome">
                    {{ctrl.documents[$index]}}</a>
                </td>
            </tr>
        </table>
    </div>
    <div ng-if="ctrl.documents.length == 0">
        <div class="zeroData">
            <span class="glyphicon glyphicon-info-sign"></span> No services exist.
        </div>
    </div>

</div>
