<div class="empty-message-container"
    *ngIf="isNullOrUndefined(getSelectedChildService()) === true">
    <h4 class="title">{{ 'ERROR_NO_CHILD_SERVICE_SELECTED' | translate }}</h4>
    <p class="message">{{ 'ERROR_NO_CHILD_SERVICE_SELECTED_HELPER' | translate }}</p>
</div>
<div id="childServiceDetail" class="content-area area info-panel"
    *ngIf="isNullOrUndefined(getSelectedChildService()) === false">
    <form>
        <div class="form-title">
            <h4>
                {{getSelectedChildService().documentSelfLink}}
            </h4>
            <aside>
                <button class="btn btn-sm btn-link" data-toggle="modal"
                    data-target="#editChildServiceModal">
                    <i class="fa fa-pencil-square-o"></i>
                    {{ 'ACTION_EDIT' | translate}}
                </button>
                <button class="btn btn-sm btn-link" data-toggle="modal"
                    data-target="#deleteChildServiceModal">
                    <i class="fa fa-trash-o"></i>
                    {{ 'ACTION_DELETE' | translate }}
                </button>
                <button class="btn btn-sm btn-link"
                    (click)="onToggleStats()"
                    title="{{ 'ACTION_COLLAPSE_EXPAND' | translate }} {{ 'CHILD_SERVICE_STATS_PANEL' | translate }}">
                    <i class="fa"
                        [class.fa-angle-double-right]="statsState === 'expand'"
                        [class.fa-angle-double-left]="statsState === 'collapse'"></i>
                </button>
            </aside>
        </div>
        <small class="form-subtitle">
            {{'LAST_UPDTED' | translate}}: <strong>{{getTimeStamp(getSelectedChildService().documentUpdateTimeMicros)}}</strong>
            <span class="separator">|</span>
            {{'EXPIRES' | translate}}: <strong>{{getTimeStamp(getSelectedChildService().documentExpirationTimeMicros)}}</strong>
        </small>
        <section>
            <h5 class="section-title">{{ 'PROPERTIES' | translate }}</h5>
            <xe-property-table [properties]="getSelectedChildService()"></xe-property-table>
        </section>
    </form>
</div>
<div id="childServiceHistory" class="right-side-area area"
    *ngIf="isNullOrUndefined(getSelectedChildService()) === false"
    [@statsState]="statsState">
    <figure>
        <figcaption class="h5">{{ 'CHILD_SERVICE_DETAIL_OPERATION_COUNT_TITLE' | translate }}</figcaption>
        <canvas id="operationCountChart" class="canvas"></canvas>
    </figure>
    <figure>
        <figcaption class="h5">{{ 'CHILD_SERVICE_DETAIL_OPERATION_DURATION_TITLE' | translate }}</figcaption>
        <canvas id="operationDurationChart" class="canvas"></canvas>
    </figure>
    <section>
        <h5>
            {{ 'CHILD_SERVICE_DETAIL_ACTIVITIES_TITLE' | translate }}
        </h5>
        <div class="timeline">
            <div class="timeline-connector"></div>
            <div class="timeline-item"
                *ngFor="let timeline of getTimeline()">
                <div class="timeline-dot"></div>
                <div class="timeline-content">
                    <h5 class="title">{{timeline?.name}} <small>x {{timeline?.count}}</small></h5>
                    <small class="timestamp">
                        {{ 'LAST_REQUESTED' | translate }}: <strong>{{getTimeStamp(timeline?.timestamp)}}</strong>
                    </small>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="editChildServiceModal" class="modal fade"
    tabindex="-1" role="dialog"
    aria-labelledby="editChildServiceLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="editChildServiceLabel" class="modal-title">
                    {{ 'ACTION_EDIT' | translate }} {{'CHILD_SERVICE' | translate: {plural: ''} }}
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                            {{ 'CHILD' | translate: {plural: ''} }} {{'SERVICE' | translate: {plural: ''} }}
                        </label>
                        <div class="col-sm-9">
                            <p class="form-control-static">
                                <strong>{{editChildServiceModalContext.data.documentSelfLink}}</strong>
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                            {{ 'METHOD' | translate }}
                        </label>
                        <div class="col-sm-9">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-secondary"
                                    [class.active]="editChildServiceModalContext.data.method === 'PATCH'"
                                    (click)="onEditChildServiceMethodChanged($event, 'PATCH')">
                                    <input type="radio" name="options" autocomplete="off"
                                        [checked]="editChildServiceModalContext.data.method === 'PATCH'"> PATCH
                                </label>
                                <label class="btn btn-secondary"
                                    [class.active]="editChildServiceModalContext.data.method === 'PUT'"
                                    (click)="onEditChildServiceMethodChanged($event, 'PUT')">
                                    <input type="radio" name="options" autocomplete="off"
                                        [checked]="editChildServiceModalContext.data.method === 'PUT'"> PUT
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">{{ 'BODY' | translate }}</label>
                        <div  class="col-sm-9">
                            <xe-code-editor name="body"
                                [(ngModel)]="editChildServiceModalContext.data.body">
                            </xe-code-editor>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    {{ 'ACTION_CANCEL' | translate }}
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="onEditChildService($event)">
                    {{ 'ACTION_EDIT' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>

<div id="deleteChildServiceModal" class="modal fade"
    tabindex="-1" role="dialog"
    aria-labelledby="deleteChildServiceLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="deleteChildServiceLabel" class="modal-title">
                    {{ 'ACTION_DELETE' | translate }} {{'CHILD_SERVICE' | translate: {plural: ''} }}
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    {{ 'CHILD_SERVICE_DELETE_MODAL_HELPER' | translate }}<br/>
                    <strong>{{deleteChildServiceModalContext.data.documentSelfLink}}</strong>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    {{ 'ACTION_NO' | translate }}
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="onDeleteChildService($event)">
                    {{ 'ACTION_YES' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
