@import "colors";
@import "variables";

.card {

    h6.card-text {
        background: $grey-50;
        padding: rem(.5) rem(1.25);
        margin: 0;
    }

    .card-content-block {
        height: 126px;
        color: $grey-600;
        background: $grey-50;

        .no-property-container {
            height: 100%;
            @include flexbox();
            flex-flow: column nowrap;
            justify-content: center;
        }
    }
}
