<div class="component-container vertical">
    <nav class="nav-area">
        <ol class="title">
            <li>
                <a [routerLink]="['/main/service']" queryParamsHandling="preserve">
                    {{ 'SERVICE_FACTORY_SERVICES_TITLE' | translate }}
                </a>
            </li>
            <li>
                <div class="dropdown">
                    <a id="serviceList" class="link-dropdown-toggle dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ getSelectedServiceId() }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="serviceList">
                        <li class="dropdown-filter"
                            (click)="$event.stopImmediatePropagation()">
                            <input #filter class="form-control" type="text"
                                placeholder="{{ 'CHILD_SERVICE_DROPDOWN_FILTER_HELPER' | translate }}"
                                (keyup)="0"/>
                        </li>
                        <li class="dropdown-list">
                            <a class="dropdown-item"
                                *ngFor="let serviceLink of getServiceLinks() | filterByName: filter.value"
                                [class.active]="getSelectedServiceId() === serviceLink"
                                [routerLink]="['/main/service', getSelectedServiceRouterId(serviceLink)]"
                                queryParamsHandling="preserve">
                                {{ serviceLink }}
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ol>
        <aside>
            <button class="btn btn-sm btn-link" data-toggle="modal"
                data-target="#createChildServiceModal">
                <i class="fa fa-plus"></i>
                {{ 'ACTION_CREATE' | translate}} {{'CHILD_SERVICE' | translate: {plural: ''} }}
            </button>
        </aside>
    </nav>
    <main class="content-area content-area-with-nested-container component-container horizontal">
        <div class="empty-message-container"
            *ngIf="getChildServiceLinks().length === 0">
            <h4 class="title">{{ 'ERROR_NO_CHILD_SERVICE_AVAILABLE' | translate }}</h4>
            <p class="message">{{ 'ERROR_NO_CHILD_SERVICE_AVAILABLE_HELPER' | translate }}</p>
        </div>
        <div class="left-side-area area" *ngIf="getChildServiceLinks().length > 0"
                infinite-scroll
                [infiniteScrollThrottle]="100"
                [scrollWindow]="false"
                [infiniteScrollDisabled]="getChildServiceLinks().length < 25"
                (scrolled)="onLoadNextPage()">
            <div class="list-group">
                <a class="list-group-item list-group-item-action"
                    *ngFor="let childServiceLink of getChildServiceLinks()"
                    [class.active]="getSelectedChildServiceId() === childServiceLink"
                    (click)="onSelectChildService($event, childServiceLink)">
                    {{childServiceLink}}
                </a>
            </div>
        </div>
        <div class="content-area area"
             *ngIf="getChildServiceLinks().length > 0">
            <xe-child-service-detail class="component-container horizontal child-service-detail-container"
                [selectedServiceId]="getSelectedServiceId()"
                [selectedChildServiceId]="getSelectedChildServiceId()">
            </xe-child-service-detail>
        </div>
    </main>
</div>

<div id="createChildServiceModal" class="modal fade"
    tabindex="-1" role="dialog"
    aria-labelledby="createChildServiceLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="createChildServiceLabel" class="modal-title">
                    {{ 'ACTION_CREATE' | translate }} {{'CHILD_SERVICE' | translate: {plural: ''} }}
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                            {{ 'SERVICE' | translate: {plural: ''} }}
                        </label>
                        <div class="col-sm-9">
                            <p class="form-control-static">
                                <strong>{{createChildServiceModalContext.data.documentSelfLink}}</strong>
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">{{ 'BODY' | translate }}</label>
                        <div  class="col-sm-9">
                            <xe-code-editor name="body"
                                [(ngModel)]="createChildServiceModalContext.data.body">
                            </xe-code-editor>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    {{ 'ACTION_CANCEL' | translate }}
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="onCreateChildService($event)">
                    {{ 'ACTION_CREATE' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
