@import "colors";
@import "variables";

.component-container {
    .nav-area {
        ol.title {
            .open > .dropdown-menu {
                @include flexbox();
                flex-flow: column nowrap;
            }

            .dropdown-menu {
                max-height: 80vh;

                .dropdown-filter {
                    @include flex(0 0 56px);
                    padding: baselinerem(.25) baselinerem(.5) baselinerem(.5);
                }

                .dropdown-list {
                    @include flex(1 1 auto);
                    overflow-x: hidden;
                    overflow-y: scroll;
                }
            }
        }
    }

    .content-area.component-container {
        .area, [class*="-area"] {
            background: transparent;
            @include flexbox();
        }

        .left-side-area {
            min-width: baselinerem(12);
            width: 20%;
            background: $grey-50;
            box-shadow: none;

            .list-group-item {
                border: none;
                padding-left: baselinerem(1.5);
                cursor: pointer;
                background: transparent;
                color: $grey-500;
                @include break-word();
                @include transition(all);

                &:hover {
                    box-shadow: rpx(4) 0 0 $light-blue-300 inset;
                    background: $white-base;
                    color: $grey-600;
                }

                &:focus, &:active, &.active {
                    box-shadow: rpx(4) 0 0 $light-blue-400 inset;
                    background: $white-base;
                    color: $black-base;
                }
            }
        }

        .content-area {
            padding: 0;

            > .child-service-detail-container {
                @include flexbox();
                @include flex(1 1 auto);
            }
        }
    }
}
