@import "colors";
@import "variables";

.component-container {
    width: 100%;

    .area, [class*="-area"] {
        background: transparent;
        padding-right: 0;
    }

    .nav-area {
        border-bottom: none;
    }

    .content-area.info-panel {
        padding: 0 baselinerem(1.5);
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
