html, body {
    height: 100%;
}

body {
    font-weight: 100;
}

.dcpAlert {
    z-index: 1000;
    position: absolute;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    left: 25%;
    overflow: hidden;
}

#layout-container {
    min-height: 100%;
    position: relative;
}

.profile {
    background-color: #3EC9B6;
    overflow: hidden;
    position: relative;
    float: left;
}

.profile .logo {
    color: #b0324a;
    margin: 7px 0px 6px;
    perspective: 1000px;
    text-align: center;
}

#main {
    background-color: #fff;
    color: #666666;
    min-height: 100%;
    right: 0;
    top: 0;
    z-index: 20;
}

.head-title {
    background-color: #3EC9B6;
    color: #4b576e;
    font-size: 16px;
    height: 75px;
    padding: 0 20px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.margin-container {
    background: none repeat scroll 0 0 #fff;
    overflow: hidden;
    z-index: -9999;
}

.wrapper {
    overflow: hidden;
    padding: 20px;
    width: 100%;
}

.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
}

h1.page-header, h1.sub-header {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 100;
    margin: 0 0 25px;
    padding: 5px 0;
}

h2.section-header {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 100;
    padding: 5px 0;
}

.main .page-header {
    margin-top: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.glyph-red {
    color: #F24D38;
}

.glyph-green {
    color: #81BB5F;
}

.glyph-blue {
    color: #1595d3;
}

.glyph-small {
    font-size: 70%;
}

.zeroData {
    border-radius: 4px;
    border: 1px solid #1595D3;
    margin: 10px auto;
    width: 50%;
    padding: 10px;
}

.zeroData .glyphicon-info-sign {
    color: #1595D3;
}

.tick line {
    display: none;
}

.strong {
    font-weight: bold;
}

.medium{
    font-weight: 400;
}

.margin-top-100 {
    margin-top: 100px;
}

.block-box {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 60px;
    padding: 30px 0 20px;
}

.head-title a {
    display: block;
    outline: medium none;
    overflow: hidden;
    padding: 0 5px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: color 0.1s linear 0s;
    white-space: nowrap;
    width: 103px;
    float: right;
    margin-right: 15px;
    color: #fff;
}

.head-title a > i {
    display: block;
    font-size: 28px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0;
}

.select-style {
    font-size: 13px;
    border: 1px solid #ccc;
    border-collapse: collapse;
    height: 26px;
    line-height: 26px;
}

.table-fixed {
    table-layout: fixed;
    word-wrap: break-word;
}

.text-align-center {
    text-align: center;
}

.system-state {
    float: right;
    clear: both;
    text-align: right;
    width: 100%;
}

.system-state div {
    width: auto;
    display: inline-block;
    margin: 0 20px;
}

.circle-text {
    width:40%;
    margin: 0 auto;
    padding: 45px 0;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #2EA89B;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
    font-size: 3em;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.float-right{
    float: right;
}