<div ng-controller="OperationIndexController as ctrl">
    <h1 class="page-header">Operation Tracing
        <span class="tracingState">
            <span ng-if="ctrl.serviceStarted"><span
                    class="glyphicon glyphicon-record blink glyph-blue"></span> Recording</span>
            <span ng-if="ctrl.serviceStarted" ng-click="ctrl.stopTracing()">
                <span class="glyphicon glyphicon-stop glyph-red"></span> Stop tracing</span>
            <span ng-if="!ctrl.serviceStarted" ng-click="ctrl.startTracing()"><span
                    class="glyphicon glyphicon-play glyph-blue"></span> Start tracing</span>
        </span></h1>

    <form class="form-inline operationTracingFilter">
        <div class="form-group" mass-autocomplete>
            <input ng-model="ctrl.queryOptions.referer.value" class="form-control"
                   placeholder="From URI..." mass-autocomplete-item="ctrl.referrer_options">
            <span class="help-block">http://127.0.0.1:8000/core/ex</span>
        </div>
        <div class="form-group" mass-autocomplete>
            <input ng-model="ctrl.queryOptions.host.value" class="form-control"
                   placeholder="Host..." mass-autocomplete-item="ctrl.host_options">
            <span class="help-block">127.0.0.1</span>
        </div>
        <div class="form-group" mass-autocomplete>
            <input ng-model="ctrl.queryOptions.port.value" class="form-control"
                   placeholder="Port..." mass-autocomplete-item="ctrl.port_options">
            <span class="help-block">8000</span>
        </div>
        <div class="form-group" mass-autocomplete>
            <input ng-model="ctrl.queryOptions.path.value" class="form-control"
                   placeholder="Path..."
                   mass-autocomplete-item="ctrl.destination_options">
            <span class="help-block">/core/examples/234qer43sdfg</span>
        </div>
        <br/>

        <div class="form-group">
            <select ng-model="ctrl.queryOptions.action"
                    ng-options="param.id as param.name for param in ctrl.actions"
                    class="form-control">
                <option value=''>Action is...</option>
            </select>
        </div>
        <div class="form-group">
            <input ng-model="ctrl.queryOptions.jsonBody" class="form-control"
                   placeholder="Body contains..."/>
        </div>
        <div class="form-group" mass-autocomplete>
            <input ng-model="ctrl.queryOptions.contextId.value" class="form-control"
                   placeholder="ContextId..." mass-autocomplete-item="ctrl.contextId_options">
        </div>
        <div class="form-group">
            <div class="dropdown">
                <a class="dropdown-toggle my-toggle-select" id="d1Label" role="button"
                   data-toggle="dropdown" data-target="#" href="">
                    <div class="input-group">
                        <input type="text" class="form-control"
                               placeholder="Start time..."
                               data-ng-model="ctrl.queryOptions.fromTime">
                        <span class="input-group-addon"><i
                                class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="d1Label">
                    <datetimepicker data-ng-model="ctrl.queryOptions.fromTime"
                                    data-datetimepicker-config="{ startView:'day', minView:'minute', dropdownSelector: '.my-toggle-select' }">
                    </datetimepicker>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="dropdown">
                <a class="dropdown-toggle my-toggle-select" id="d2Label" role="button"
                   data-toggle="dropdown" data-target="#" href="">
                    <div class="input-group">
                        <input type="text" class="form-control"
                               placeholder="End time..."
                               data-ng-model="ctrl.queryOptions.toTime">
                        <span class="input-group-addon"><i
                                class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="d2Label">
                    <datetimepicker data-ng-model="ctrl.queryOptions.toTime"
                                    data-datetimepicker-config="{ startView:'day', minView:'minute', dropdownSelector: '.my-toggle-select' }"
                                    on-set-time="onSetTime()">
                    </datetimepicker>
                </ul>
            </div>
        </div>
        <button ng-click="ctrl.getOperationsList()" class="btn btn-default">Trace</button>
    </form>


    <h2 class="section-header" ng-if="ctrl.operationsList.documentLinks">Operations</h2>

    <div ng-if="ctrl.operationsList.documentLinks.length > 0">
        <div id="timeSpan"><span class="strong">Time window: </span><span id="startTime"></span> -
            <span id="endTime"></span></div>
        <timeline-chart data="ctrl.graphOptions"></timeline-chart>
    </div>
    <div ng-if="ctrl.operationsList.documentLinks.length == 0">
        <div class="zeroData">
            <span class="glyphicon glyphicon-info-sign"></span> No operations were found.
        </div>
    </div>
</div>
