<!DOCTYPE html>
<html lang="en" ng-app="dcpDefault">
<head>
    <meta charset="UTF-8">
    <meta content="utf-8" http-equiv="encoding">

    <!--Libs-->
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/libs/moment/moment.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/libs/angularjs/angular.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/libs/angularjs/angular-resource.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/libs/angularjs/angular-route.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/libs/angularjs/angular-sanitize.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/libs/jQuery/jquery-2.1.0.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/libs/bootstrap/js/bootstrap.js"></script>
    <link href="/user-interface/resources/com/vmware/xenon/ui/UiService/libs/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="/user-interface/resources/com/vmware/xenon/ui/UiService/libs/bootstrap/css/bootstrap-theme.min.css"
          rel="stylesheet">
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/libs/d3js/d3.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/libs/nvd3/nv.d3.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/libs/angularjs-nvd3/angular-nvd3.js"></script>
    <link rel="stylesheet"
          href="/user-interface/resources/com/vmware/xenon/ui/UiService/libs/nvd3/nv.d3.css"/>

    <!--page specific-->
    <link rel="stylesheet"
          href="/user-interface/resources/com/vmware/xenon/ui/UiService/css/base.css">
    <link rel="stylesheet"
          href="/user-interface/resources/com/vmware/xenon/ui/UiService/third-party/json-tree/json.css"/>
    <link rel="stylesheet"
          href="/user-interface/resources/com/vmware/xenon/ui/UiService/third-party/massautocomplete/massautocomplete.theme.css"/>
    <link rel="stylesheet"
          href="/user-interface/resources/com/vmware/xenon/ui/UiService/third-party/datetimepicker/datetimepicker.css"/>

    <!-- app specific -->
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/constants.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/app.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/directives.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/utilService.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/third-party/json-tree/json-tree.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/third-party/massautocomplete/massautocomplete.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/third-party/datetimepicker/datetimepicker.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/directives/alert/alert.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/reusableChart.js"></script>

    <!--controllers/service-->
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/parentController.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/features/query/queryController.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/features/query/queryService.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/features/stats/statsController.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/features/stats/statsService.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/features/factoryHome/factoryHomeController.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/features/factoryHome/homeService.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/features/singletonHome/singletonHomeController.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/features/management/managementService.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/features/management/manageServiceController.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/features/management/manageInstanceController.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/features/dashboard/dashboardService.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/features/dashboard/dashboardController.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/features/operationIndex/operationIndexService.js"></script>
    <script type="text/javascript"
            src="/user-interface/resources/com/vmware/xenon/ui/UiService/features/operationIndex/operationIndexController.js"></script>
</head>

<body>
<div id="layout-container" ng-controller="ParentController">
    <alert message="notification"></alert>
    <div class="head-title">
        <div class="row">
            <div class="profile">
                <div class="logo"><a href="#">
                    <img alt=""
                         src="/user-interface/resources/com/vmware/xenon/ui/UiService/images/logo.png"
                         width="50px">
                </a></div>
            </div>

            <a href="#/">
                <i class="glyphicon glyphicon-dashboard"></i>
                <span>Dashboard</span>
            </a>
            <a href="#/core/operationIndex">
                <i class="glyphicon glyphicon-transfer"></i>
                <span>Tracing</span>
            </a>
            <a ng-if="instance" href="#/{{path}}/{{service}}/home">
                <i class="glyphicon glyphicon-chevron-up"></i>
                <span>/{{service}}</span>
            </a>
        </div>
    </div>

    <div id="main">
        <div id="nav" ng-if="instance || service">
            <ul class="navigation" ng-if="service && !instance">
                <li><a href="#/{{path}}/{{service}}/home"><i class="glyphicon glyphicon-home"></i>
                    <span>Home</span></a></li>
                <li><a
                        href="#/{{path}}/{{service}}/query"><i class="glyphicon glyphicon-search"></i>
                    <span>Query</span></a></li>
                <li><a href="#/{{path}}/{{service}}/stats"><i class="glyphicon glyphicon-stats"></i>
                    <span>Stats</span></a></li>
                <li><a href="#/{{path}}/{{service}}/manage"><i class="glyphicon glyphicon-cog"></i>
                    <span>Manage</span></a></li>
            </ul>
            <ul class="navigation" ng-if="instance">
                <li><a href="#/{{path}}/{{service}}/{{instance}}/home"><i
                        class="glyphicon glyphicon-home"></i>
                    <span>Home</span></a></li>
                <li><a
                        href="#/{{path}}/{{service}}/{{instance}}/query"><i
                        class="glyphicon glyphicon-search"></i>
                    <span>Query</span></a></li>
                <li><a href="#/{{path}}/{{service}}/{{instance}}/stats"><i
                        class="glyphicon glyphicon-stats"></i>
                    <span>Stats</span></a></li>
                <li><a href="#/{{path}}/{{service}}/{{instance}}/patch"><i
                        class="glyphicon glyphicon-import"></i>
                    <span>Patch</span></a></li>
                <li><a href="#/{{path}}/{{service}}/{{instance}}/put"><i
                        class="glyphicon glyphicon-edit"></i>
                    <span>Put</span></a></li>
                <li><a href="#/{{path}}/{{service}}/{{instance}}/delete"><i
                        class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span></a></li>
            </ul>
        </div>

        <div class="margin-container" ng-class="{margin100: (instance || service)}">
            <div class="scrollable wrapper">
                <div class="main" ng-view>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
