<div class="branding">
    <a class="logo"
        [routerLink]="['/']" preserveQueryParams="true">
        <img src="assets/images/xenon-logo.svg"/>
    </a>
    <span class="title">XENON<span class="trademark">&trade;</span></span>
</div>
<div class="divider"></div>
<div class="header-nav">
    <a class="nav-link" title="{{ 'DASHBOARD_TITLE' | translate }}"
        [routerLink]="['./dashboard']" preserveQueryParams="true" routerLinkActive="active">
        <span class="nav-icon fa fa-bar-chart fa-fw"></span>
    </a>
    <a class="nav-link" title="{{ 'SERVICE_FACTORY_SERVICES_TITLE' | translate }}"
        [routerLink]="['./service']" preserveQueryParams="true" routerLinkActive="active">
        <span class="nav-icon fa fa-th fa-fw"></span>
    </a>
    <a class="nav-link" title="{{ 'PROCESS_LOG_TITLE' | translate }}"
        [routerLink]="['./process-log']" preserveQueryParams="true" routerLinkActive="active">
        <span class="nav-icon fa fa-file-text-o fa-fw"></span>
    </a>
    <a class="nav-link" title="{{ 'QUERY_TITLE' | translate }}"
        [routerLink]="['./query']" preserveQueryParams="true" routerLinkActive="active">
        <span class="nav-icon fa fa-search fa-fw"></span>
    </a>
    <!-- <a class="nav-link" title="Operation Tracing"
        [routerLink]="['./process-log']" preserveQueryParams="true" routerLinkActive="active">
        <span class="nav-icon fa fa-retweet fa-fw"></span>
    </a> -->
</div>

<div class="settings">
    <a class="nav-link" title="About"
        [routerLink]="['/about']" preserveQueryParams="true" routerLinkActive="active">
        <span class="nav-icon fa fa-question-circle-o"></span>
    </a>
    <a class="nav-link" title="Log Out" (click)="onLogout($event)">
        <span class="nav-icon fa fa-sign-out"></span>
    </a>
    <div class="divider"></div>
    <a class="nav-link node-selector" title="Switch Node"
        [class.active]="isNodeSelectorActive()"
        (click)="onNodeSelectorClicked(event)">
        <span [class]="getSelectedNodeStatusClass('status-indicator')"
            [class.host]="isHostNode()"></span>
        <span class="node-name">{{getSelectedNodeId()}}</span><i class="fa fa-angle-down"></i>
    </a>
</div>
