@import "colors";
@import "variables";

.card {
    .card-block.card-header-block {
        position: relative;

        .card-badge {
            .btn.link-dropdown-toggle {
                padding: rem(.25) 5px rem(.25) 0;
                opacity: .7;
                @include transition(opacity);

                &:hover, &:active, &[aria-expanded="true"] {
                    opacity: 1;
                }
            }
        }

        .card-roll-up-stat {
            position: absolute;
            bottom: -48px;
            right: 0;
            padding: 0 rem(1.25);
            font-size: 28px;
            font-weight: bold;
            line-height: 48px;
            color: $grey-500;
        }
    }

    .card-content-block {
        min-height: 238px;
        height: auto;
        padding: baselinerem(1);
        margin: 0;
        color: $grey-600;

        .canvas {
            height: 190px;
        }
    }
}
